# typescript dist files
dist/

# ssl keys

cert/

# Dependency directory
node_modules/

# Package lock files (choose one based on your package manager)
package-lock.json

# Log files
*.log

# Environment variable files (add more patterns for specific names if needed)
.env

# VS Code settings
.vscode/settings.json
frontend/.vscode/

# Cache folders (add more patterns for specific cache directories if needed)
.npm
.eslintcache
.DS_Store
.VSCodeCounter

# .gitignore itself
.gitignore